<!DOCTYPE HTML>
<html>
	<head>
		<title>TwitterClient</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>TwitterClient</h1>
				<div id="search-bar">
					<div id="search-form">
						<input type="text" class="search-input" id="search-query" placeholder="Search Twitter" name="search_query">
						<button type="text" id="search-submit"><img src="img/search-icon.png"></button>
					</div>
				</div>
			</div>
			<div id="content">
				<div id="tweets"></div>
			</div>
		</div>
	</body>
</html>
